<% if current_user.admin? %>
  <%= form_with(model: twitter_account, local: true) do |form| %>
    <% if twitter_account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(twitter_account.errors.count, "error") %> prohibited this twitter_account from being saved:</h2>

        <ul>
        <% twitter_account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :twitter_account_name %>
    </div>

    <div class="field">
      <%= form.label :account %>
      <%= form.text_field :account, id: :twitter_account_account %>
    </div>

    <div class="field">
      <%= form.label :consumer_key %>
      <%= form.text_field :consumer_key, id: :twitter_account_consumer_key %>
    </div>

    <div class="field">
      <%= form.label :consumer_secret %>
      <%= form.text_field :consumer_secret, id: :twitter_account_consumer_secret %>
    </div>

    <div class="field">
      <%= form.label :access_token %>
      <%= form.text_field :access_token, id: :twitter_account_access_token %>
    </div>

    <div class="field">
      <%= form.label :access_token_secret %>
      <%= form.text_field :access_token_secret, id: :twitter_account_access_token_secret %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
