<p id="notice"><%= notice %></p>
<% if current_user.admin? %>
  <h1>Twitter Accounts</h1>
  <%= current_user.email %> dfdfdffd<%= current_user.admin %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Account</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @twitter_accounts.each do |twitter_account| %>
        <tr>
          <td><%= twitter_account.name %></td>
          <td><%= twitter_account.account %></td>
         
          <td><%= link_to 'Show', twitter_account %></td>
          <td><%= link_to 'Edit', edit_twitter_account_path(twitter_account) %></td>
          <td><%= link_to 'Destroy', twitter_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Twitter Account', new_twitter_account_path %>
<% end %>