<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twitter_account.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @twitter_account.account %>
</p>

<p>


<%= link_to 'Edit', edit_twitter_account_path(@twitter_account) %> |
<%= link_to 'Back', twitter_accounts_path %>
